/* Colors */
:root {
    --orange: #ef441c;
    --red: #ec2e32;
    --pink: #e7075c;
    --green: #9aecc8;
    --blue: #00088d;

    --grey: rgb(232, 232, 232);
    --black: #444;

    /* Effect Colors */
    --green50: rgba(154, 236, 200, 0.5);
    --grey10: rgba(232, 232, 232, 0.1);

    /* Gradient Colors  */
    --logoGradient: linear-gradient(to bottom, var(--orange), var(--red), var(--pink));
}

html {
    height: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;

    font-size: 16px;
    color: var(--black);
    font-family: 'Open Sans', sans-serif;
    line-height: normal;

    background: var(--grey10);

    display: flex;
    flex-direction: column;
    align-items: center;

    cursor: default;
}

main {
    width: 100%;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: var(--green);
    border: none;
}
