:root {
    --icon-size: 128px;
}

main {
    display: flex;
    justify-content: center;

    padding: 3rem 0;
}

svg {
    width: var(--icon-size);
    height: var(--icon-size);

    overflow: visible;

    fill: none;

    stroke: black;
    stroke-width: 20px;
    stroke-linecap: round;
}
